---
import Layout from '../layouts/Layout.astro';
import "../../public/styles/style.css"
import "../../public/styles/reset.css"
---

<Layout title="13c | Assigment Portfolio">
	<main>
		<div class="styletile">
			<h1>This is heading 1</h1>
			<h2>This is heading 2</h2>
			<h3>This is heading 3</h3>
			<h4>This is heading 4</h4>
			<p>This is body text. <br> In the tranquil embrace of nature, where the gentle rustling of leaves becomes a lullaby, one can find solace. The meandering streams whisper secrets to the ancient trees, and the world slows down, allowing time to reflect. It's in these moments that we discover our true selves.</p>
			<p class="small">This is small body text <br>In the tranquil embrace of nature, where the gentle rustling of leaves becomes a lullaby, one can find solace. The meandering streams whisper secrets to the ancient trees, and the world slows down, allowing time to reflect. It's in these moments that we discover our true selves.</p>
			<div class="colors">
				<div>
					<div class="color text"></div>
					<p>Text</p>
				</div>
				<div>
					<div class="color primary"></div>
					<p>Primary</p>
				</div>
				<div>
					<div class="color secondary"></div>
					<p>Secondary</p>
				</div>
				<div>
					<div class="color accent"></div>
					<p>Accent</p>
				</div>
			</div>
		</div>
		<div class="col">
			<h2>13C | Assigment Portfolio</h2>
			<h3>Jacob Friis Strand</h3>
			<p>
        Jeg har valgt at bruge et Figma værktøj der hedder “Typescale” til at lave mit fonthieraki. Dette værktøj genererer automatisk et font hieraki ud fra en base font størrelse, som jeg har valgt skal være 16px. Her bliver px omdannet til rem, og skaleres efter en valgt
        værdi. Jeg har valgt 1.25. Derudover har jeg valgt at der skal skaleres 4 gange op fra base size, og 1 gang ned fra base size, sådan at jeg får overskrifter i 4 forskellige størrelser og brødtekster i 2 størrelser. Jeg har brugt Realtime Colors til at vælge 4 farver til
        opgaven; text, primary, secondary og accent. Jeg har med HSL gjort secondary farven lidt lysere, sådan at den er lettere at læse hvis tekstfarven eller accentfarven står i kontrast til.
      	</p>
		</div>
	</main>
</Layout>

<style>
	main {
		display: flex;
		justify-content: space-evenly;
		place-items: center;
		flex-flow: wrap;
		padding-inline: 1rem;
	}

	.color {
		width: 75px;
		height: 75px;
		border: 1px solid;
		border-radius: 1e5px;
	}

	.text {
		background-color: var(--text);
	}

	.primary {
		background-color: var(--primary);
	}

	.secondary {
		background-color: var(--secondary);
	}

	.accent {
		background-color: var(--accent);
	}

	.colors {
		display: flex;
		justify-content: space-between;
		text-align: center;
	}

	ul {
		display: flex;
		gap: 2rem;
	}

	a {
		text-decoration: none;
		font-size: var(--fs-h4);
		border: 1px solid var(--text);
		padding: .5rem 1rem;
		transition: all 150ms ease-in-out;
		border-radius: 5px;
	}

	a:hover {
		border-radius: 0px;
		transition: all 150ms ease-in-out;
		background-color: var(--accent);
		color: var(--primary);
	}

	.styletile > * {
		margin-bottom: 2rem;
	}

	.links > *, .col > * {
		margin-block: 1rem;
	}
</style>

